*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	font-family: Montserrat, Arial, sans-serif
	background: #ececec
	color: #222

img
	display: block
	max-width: 100%

a
	text-decoration: none

ul
	list-style: none

// /* Контейнер	*/

.container
	max-width: 1140px
	width: 100%
	margin: 0 auto
	padding: 0 15px

.main-page
	padding-top: 20px

// /* Хедер */

	&__header
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 25px

	&__logo img
		width: 70px

	&__search-box
		flex-grow: 1
		margin: 0 50px
		border: none
		border-radius: 2px
		border-color: rgba(34, 119, 170, 100)

	&__search-input
		width: 220px
		height: 34px
		border: 1px solid #bdbdbd
		border-radius: 5px
		padding-left: 12px
		outline: none

	&__top-menu
		display: flex

	&__top-menu-item
		color: #222
		font-size: 16px
		margin-right: 48px
		margin-left: 3px

	&__top-menu-item:hover
		color: #2b7db5

// /* Нав-меню */

	&__navigation
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 40px

.navigation__list
	display: flex
	background: #2b7db5
	border-radius: 8px
	overflow: hidden

	&-item a
		display: block
		color: white
		padding: 14px 28px

.navigation__city
	font-size: 16px
	font-weight: 500

// /* Предложение */

.promo-banner
	display: flex
	justify-content: space-between
	background: #2b7db5
	border-radius: 53px
	overflow: hidden
	margin-bottom: 80px

	&__content
		width: 50%
		padding: 60px

	&__title
		color: white
		font-size: 42px
		line-height: 1.2
		margin-bottom: 25px

	&__description
		color: white
		font-size: 18px
		line-height: 1.5
		margin-bottom: 35px

	&__button
		width: 150px
		height: 48px
		border: none
		border-radius: 8px
		background: #8bc34a
		color: white
		cursor: pointer

	&__image-box
		width: 50%

	&__image
		width: 100%
		height: 100%

// /* Заявка */

.request-section
	display: flex
	background: #2b7db5
	border-radius: 53px
	overflow: hidden
	margin-bottom: 90px

	&__content
		width: 65%
		padding: 50px

	&__title
		color: white
		margin-bottom: 15px
		font-size: 30px

	&__text
		color: white
		margin-bottom: 25px

.request-form__row
	display: flex
	gap: 20px

.request-form__group
	width: 100%
	margin-bottom: 20px

.request-form__label
	display: block
	color: white
	margin-bottom: 8px

.request-form__input
	width: 100%
	height: 44px
	border: none
	border-radius: 5px
	padding-left: 12px

.request-form__button
	width: 200px
	height: 48px
	border: none
	border-radius: 8px
	background: #8bc34a
	color: white
	cursor: pointer

.request-section__image-box
	width: 35%

.request-section__image
	width: 100%
	height: 100%

// /* Тарифы */

.tariffs-section
	margin-bottom: 90px

	&__title
		text-align: center
		font-size: 34px
		margin-bottom: 50px

	&__cards-box
		display: flex
		gap: 30px

.tariff-card
	flex: 1
	background: white
	border: 2px solid #4a96c7
	padding: 35px
	min-height: 360px
	display: flex
	flex-direction: column

	&__title
		text-align: center
		font-size: 32px
		margin-bottom: 40px

	&__speed
		font-size: 16px
		color: black
		margin-bottom: 20px
		font-weight: 500

	&__TV
		color: black
		font-size: 16px
		margin-bottom: 20px
		font-weight: 500

	&__MS
		color: black
		font-size: 16px
		margin-bottom: 100px
		font-weight: 500

	&__price
		text-align: center
		font-size: 36px
		font-weight: 700
		margin: 40px 0 20px

	&__button
		width: 100%
		height: 48px
		border: none
		border-radius: 8px
		background: #8bc34a
		color: white
		cursor: pointer

	&__minitext
		font-size: 12px
		font-weight: 300
		text-align: center
		color: black
		margin-top: 15px

// /* Оплата */

.payment-section
	background: #2b7db5
	border-radius: 30px
	padding: 50px
	margin-bottom: 90px

	&__title
		text-align: center
		color: white
		margin-bottom: 30px
		font-size: 32px

	&__form
		display: flex
		justify-content: center
		gap: 20px

	&__input
		width: 300px
		height: 46px
		border: none
		border-radius: 5px
		padding-left: 15px

	&__button
		width: 180px
		height: 46px
		border: none
		border-radius: 10px
		background: #8bc34a
		color: white
		cursor: pointer

// /* Новости */

.news-section
	margin-bottom: 90px

	&__title
		text-align: center
		font-size: 42px
		margin-bottom: 60px

	&__cards
		display: grid
		grid-template-columns: repeat(2, 1fr)
		gap: 40px

.news-card
	display: flex
	gap: 20px

	&__image
		width: 40%
		height: 100%

	&__content
		display: flex
		flex-direction: column

	&__title
		font-size: 24px
		margin-bottom: 15px

	&__text
		color: #444
		line-height: 1.6

.news-section__footer
	display: flex
	justify-content: center
	margin-top: 50px

.news__button
	width: 260px
	height: 52px
	border: 2px solid #2d7fb6
	background: transparent
	border-radius: 12px
	color: #000000
	cursor: pointer
	transition: .3s

// /* Футер*/

.footer
	background: #22272d
	color: #fff
	padding-top: 60px

	&__top
		display: flex
		justify-content: space-between
		gap: 50px
		padding-bottom: 50px

	&__column
		flex: 1

	&__logo
		width: 70px
		margin-bottom: 20px

	&__company
		font-size: 24px
		font-weight: 700
		margin-bottom: 10px

	&__title
		font-size: 18px
		margin-bottom: 20px

	&-list__item
		margin-bottom: 12px

	&-list__item a
		color: #d8d8d8
		transition: .3s

	&__contact
		margin-bottom: 12px
		color: #d8d8d8

	&__bottom
		border-top: 1px solid rgba(255, 255, 255, .15)
		padding: 25px 0
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		gap: 24px

	&__bottom-text
		color: #bcbcbc
		font-size: 14px
		cursor: pointer
		transition: .3s

	&__bottom-text:hover
		color: #fff

// /* Планшет */

@media (max-width: 992px)

	.header__top
		flex-wrap: wrap
		gap: 20px

		.header__search
			order: 3
			width: 100%

		&-input
			width: 100%

		.header__menu
			gap: 15px

		.header__bottom
			flex-direction: column
			gap: 20px

		.header-navigation
			flex-wrap: wrap
			justify-content: center

		.hero__wrapper
			flex-direction: column

		.hero__content,
		.hero__image-wrapper
			width: 100%

		.hero__content
			padding: 50px

		.hero__title
			font-size: 42px

		.request__wrapper
			flex-direction: column

		.request__content,
		.request__image-wrapper
			width: 100%

		.request__image
			height: 350px

		.tariffs__cards
			flex-direction: column
			align-items: center

		.tariff-card
			width: 100%
			max-width: 500px

		.payment-form
			flex-direction: column
			align-items: center

		&__group
			width: 100%
			max-width: 500px

		&__input
			width: 100%

		&__button
			width: 100%
			max-width: 500px

		.news__grid
			grid-template-columns: 1fr

		.footer__top
			flex-wrap: wrap
			gap: 40px

		.footer__column
			min-width: 220px

// /* Телефон */

@media (max-width: 768px)

	.container
		padding: 0 20px

		.header
			margin-bottom: 30px

		&__top
			flex-direction: column
			align-items: center

		&__menu
			flex-wrap: wrap
			justify-content: center
			gap: 12px

		&__bottom
			gap: 15px

		&-navigation
			width: 100%
			flex-direction: column
			border-radius: 10px

		&-navigation__item a
			text-align: center
			border-bottom: 1px solid rgba(255, 255, 255, .15)

		&-navigation__item:last-child a
			border-bottom: none

		.hero
			margin-bottom: 60px

		&__content
			padding: 35px 25px
			text-align: center

		&__title
			font-size: 32px

		&__description
			font-size: 16px

		&__button
			width: 100%

		.request
			margin-bottom: 60px

		&__content
			padding: 35px 25px

		&__title
			font-size: 28px
			text-align: center

		&__text
			text-align: center

		&-form__row
			flex-direction: column
			gap: 0

		&-form__button
			width: 100%

		&__image
			height: 250px

			.tariffs__title
				font-size: 28px

			.tariff-card
				padding: 25px

		&__title
			font-size: 26px

		&__price
			font-size: 30px

		.payment
			padding: 0 0 60px

		&__wrapper
			padding: 35px 20px

		&__title
			font-size: 28px
			text-align: center

			.news
				margin-bottom: 70px

		&__title
			font-size: 32px

		&-card
			flex-direction: column

		&-card__image-wrapper
			width: 100%
			min-width: auto

		&-card__image
			width: 100%
			height: 240px

		&-card__title
			font-size: 22px

		&__button
			width: 100%
			max-width: 320px

		.footer
			text-align: center

		&__top
			flex-direction: column
			align-items: center

		&__bottom
			flex-direction: column
			text-align: center
